<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div style="text-align: center">
    <h1>{{message}}</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
			<h1> Create a Location </h1>
            <form [formGroup]="formdata" #registrationForm="ngForm" (ngSubmit)="addLocation(registrationForm.value)">
				<div class="form-group">
					<label for="sector">
						<span class="req">* </span> 
						Sector: 
					</label>
                    <input required type="text" name="sector" formControlName="sector" class="form-control phone" maxlength="28"/>
							
					<div *ngIf="formdata.controls['sector'].invalid && formdata.controls['sector'].touched" class="alert alert-danger">
						<div *ngIf="formdata.controls['sector'].errors.required">
						Sector is required.
						</div>
					</div>
                </div>

                <div class="form-group">
                    <label for="location">
						<span class="req">* </span> 
						Location: 
					</label>
                    <input required type="text" name="location" formControlName="location" class="form-control phone" maxlength="28"/>
						
					<div *ngIf="formdata.controls['location'].invalid && formdata.controls['location'].touched" class="alert alert-danger">
						<div *ngIf="formdata.controls['location'].errors.required">
						Location is required.
						</div>
					</div>
                </div>

				<button type="submit" [disabled]="!formdata.valid" class="btn btn-success">Register</button>

			</form><!-- ends register form -->
            <!-- second for to fiter user-->
        </div><!-- ends col-6 -->

    </div>
</div>