<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div style="text-align: center">
    <h1>{{message}}</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
			<h1>Register a Doctor</h1>
			<form [formGroup]="formdata" #registrationForm="ngForm" (ngSubmit)="addDoctor(registrationForm.value)">
				<div class="form-group">
					<label for="firstName">
						<span class="req">* </span> 
						First Name: 
					</label>
                    <input required type="text" name="firstName" formControlName="firstName" class="form-control phone" maxlength="28"/>
							
					<div *ngIf="formdata.controls['firstName'].invalid && formdata.controls['firstName'].touched" class="alert alert-danger">
						<div *ngIf="formdata.controls['firstName'].errors.required">
						First Name is required.
						</div>
					</div>
                </div>

                <div class="form-group">
                    <label for="lastName">
						<span class="req">* </span> 
						Last Name: 
					</label>
                    <input required type="text" name="latName" formControlName="lastName" class="form-control phone" maxlength="28"/>
						
					<div *ngIf="formdata.controls['lastName'].invalid && formdata.controls['lastName'].touched" class="alert alert-danger">
						<div *ngIf="formdata.controls['lastName'].errors.required">
						Last Name is required.
						</div>
					</div>
                </div>

                <div class="form-group">
                    <label for="fileNumber">
						<span class="req">* </span> 
						File Name: 
					</label>
                    <input required type="text" name="fileName" formControlName="fileName" class="form-control phone" maxlength="28"/>
						
					<div *ngIf="formdata.controls['fileName'].invalid && formdata.controls['fileName'].touched" class="alert alert-danger">
						<div *ngIf="formdata.controls['fileName'].errors.required">
						File Name is required.
						</div>
					</div>
                </div>

				<button type="submit" [disabled]="!formdata.valid" class="btn btn-success">Register</button>

			</form><!-- ends register form -->
            <!-- second for to fiter user-->
        </div><!-- ends col-6 -->

    </div>
</div>