<div class="col-md-6 user-container">
    <h2 style="margin: auto">List Locations</h2>

    <router-outlet></router-outlet>
	
	<button routerLink="/master/createLocation" routerLinkActive="active">Add Location</button>

    <table class="table table-striped">
        <thead>
            <tr>
                <th title="Sector">Sector</th>
                <th title="Location">Location</th>
                <th title="Action"> Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let location of locations; let i = index">
                <th> {{location.sector}} </th>
				<th> {{location.location}} </th>
                <td class="text-center">
					<button class="btn btn-danger btn-xs"
                        (click)="deleteLocation(location.id)">
						<span class="glyphicon glyphicon-remove"></span>
                        Delete
					</button>
				</td>
            </tr>
        </tbody>
    </table>
</div>