<div *ngIf="loginService.loggedIn; else elseBlock">
	<h2>Users</h2>
	<button routerLink="/registration" routerLinkActive="active">Add User</button>

	<table class="table table-striped">
	  <thead>
		<tr>
		  <th>Name</th>
		  <th>Description</th>
		  <th>Delete</th>
		</tr>
	  </thead>
	  <tbody>
		<tr mdbTableCol *ngFor="let u of users">
		  <th (click)="displayUser(u)">{{u.firstName}} {{u.lastName}}</th>
		  <td>{{u.description}}</td>
		  <td class="text-center">
			<button class="btn btn-danger btn-xs" 
					(click)="deleteUser(u)">
						<span class="glyphicon glyphicon-remove"></span>Delete
			</button>
		  </td>
		</tr>
	  </tbody>
	</table>
</div>

<ng-template #elseBlock>
    <h1>You must be logged in to view this page</h1>
</ng-template>